__pycache__/
/polls/migrations/*
!/polls/migrations/__init__.py
*.tar.gz
*.tar
.settings/
db.sqlite3

venv/
.DS_Store
.autotools
.cproject
.project
.pydevproject
celerybeat*
dump.rdb
*.pyc
*.log
.idea/
live/a.txt
*.sqlite3
*.rdb
*.db

