@charset "utf-8";
*{
  margin: 0;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding: 0;
list-style-type: none;
}
body{
overflow:Scroll;
overflow-y:hidden;
user-select: none;
cursor: default;
  font-size: 12px;
}
 @font-face{
    font-family:icomoon_ecm;    src:url("/static/front/fonts/ecm_icomoon.eot");   src:url("/static/front/fonts/ecm_icomoon.eot") format('embedded-opentype'),
    url("/static/front/fonts/ecm_icomoon.woff") format('woff'),
    url("/static/front/fonts/ecm_icomoon.ttf") format('truetype'),
    url("/static/front/fonts/ecm_icomoon.svg") format('svg');
    font-weight:400;
font-style:normal}
@font-face {
font-family:icomoon;
src:url("/static/front/fonts/frameIcomoon.eot?ttf=48517560") format('embedded-opentype'),
url("/static/front/fonts/frameIcomoon.woff") format('woff'),
url("/static/front/fonts/frameIcomoon.ttf") format('truetype'),
url("/static/front/fonts/frameIcomoon.svg") format('svg');font-weight:400;font-style:normal;}
.dropbtn {
  display: inline-block;
    background-color: #444;
    color: white;
    padding: 12.5px 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(108,108,108)
}
.common-icon-help:before, .common-icon-refresh:before, [class*=" hwsicon-frame-service"], [class*=" hwsicon-frame-image"], [class^='hwsicon-frame-service'], [class^='hwsicon-frame-image']{
font-family: icomoon;
font-style: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    top: 60px;
font-size: 14px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.rightContainer{
min-width:calc(100% - 250px);
overflow: auto;
float: left;
margin-left: 250px;
margin-top: 60px;
}
.inrightContain{
margin-top: 10px;
margin-right: 20px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}
/* 多出的一个属性是为了利用javascript来控制这个属性的显示与否*/
.show {display:block;}
.dropbtn img{
  position: relative;
  top: 5px;
}
.dropbtn span{
  display: inline-block;
  position: relative;
  top: 0px;
}




.console-top-menu{
    width: 100%;
    position: fixed;
    z-index: 999;
  height: 60px;
  background-color: #444;
}

.frame-normal-font-size{
  font-size: 14px;
}
a:link{
  text-decoration: none;
}
.console-menu-logo{
  display: block;
width: 150px;
height: 60px;
background: url(/static/front/images/logo-ctyun-top.png) left center no-repeat;
}
#menu{
position: relative;
min-width: 600px;
height: 60px;
padding-left: calc(40px + (100vw - 100%));
padding-right: 40px;
clear: both;
font-weight: 400;
font-style: normal;
color: #FFF;
margin: auto;
}
.container-fluid:before，.row-fluid:after{
  display: table;
line-height: 0;
content: "";
-webkit-box-sizing: border-box;
}
.pull-left{
  float: left;
}

.pull-right{
  float: right;
}
.console-topbar-btn{
color: #aaa;
  display: block;
  line-height: 60px;
  font-size: 20px;
margin-right: 10px;
font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB", "宋体"!important;
}
.dropdown{
padding: 0 40px;
  position: relative;
}
.hwsicon-frame-image-home{
  font-size: 20px;
color: #fff;
margin-right: 10px;
font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB", "宋体"!important;
}
a.console-topbar-btn.dropdown-toggle.console-topbar-username-text.userBlock{
  display: inline-block;
}
.console-topbar-username-text{
  height: 60px;
vertical-align: middle;
text-decoration: none;
text-align: center;
line-height: 60px;
padding: 0 10px;
width: auto;
}
.menu-hwsicon-frame-user-head{
  width: 30px;
height: 30px;
border-radius: 50%;
display: inline-block;
position: relative;
margin-right: 5px;
}



.leftContainer{
z-index:999;
  top: 60px;
  position: fixed;
  width: 220px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
.leftContainer .menu-list .leftMenuTitle{
  color: #333;
border-bottom: 1px solid #e5e5e5;
text-align: center;
padding: 30px 0 17px;
line-height: 20px;
}
.leftContainer .menu-list .title{
  color: #333;
height: 42px;
text-overflow: ellipsis;
width: auto;
line-height: 42px;
border-bottom: 1px solid #e5e5e5;
cursor: pointer;
padding: 0 25px;
font-size: 14px;
}
.leftContainer .menu-list .leftMenuTitle .ecm-icon{
  display: inline-block;
border: 1px solid #e5e5e5;
border-radius: 50%;
padding: 5px;
font-size: 48px;
}
[class*=" icoMoon-"], [class^=icoMoon-]{
  font-family: icomoon_ecm;
speak: none;
font-style: normal;
font-weight: 400;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
}
.hwsicon-frame-service-ctc-tecservice:before{
content: "\e10b";
}

.hwsicon-frame-service-obs:before{
content: "\e61C";
}


.icoMoon-csc:before{
  content: "\e913";
}
.icoMoon-cloud-small:before{
content: "\e931"
}
.icoMoon-ip:before{
content: "\e904"
}
.icoMoon-volume-samll:before{
content: "\e936"
}
.icoMoon-loadbalancer-small:before{
content: "\e934"
}
.icoMoon-count:before{
content: "\e933";
}
.icoMoon-image-small:before{
content: "\e935";
}

:after{
-webkit-box-sizing: border-box;
}
.txt18{
  font-size: 18px;
}
.lheight_40{
  line-height: 40px;
}
.leftContainer .menu-list .title:before{
  font-size: 20px;
padding-right: 10px;
float: left;
}
.icoMoon-dashboard-samll:before{
content: "\e610"
}


.bottom_new{width: 100% !important;
background: #444 !important;
display: inline-block !important;
z-index: 999;
position: fixed;
bottom: 0px}

.bottom_new_margin p{
  line-height: 37px !important;
color: #aaa !important;
display: inline-block !important;
margin-right: 14px;
}
.bottom_new_margin{
  padding: 0;
list-style-type: none;
  height: 34px;
min-width: 1200px !important;
max-width: 1360px !important;
text-align: right;
padding-left: calc(40px + (100vw - 100%));
padding-right: 40px;
background-color: #444;
box-sizing: content-b;
margin: 0 auto !important;
}
.bottom_new_margin ul{
  float: left !important;
}
.bottom_new_margin ul li{
  line-height: 34px !important;
display: inline-block !important;
}
.bottom_new_margin ul i{
  width: 1px !important;
line-height: 34px !important;
border-left: 1px #6c6c6c solid !important;
display: inline !important;
margin-left: -5px !important;
}
.bottom_new_margin ul li a{
  text-decoration: none;
  color: #aaa !important;
line-height: 34px !important;
display: inline-block !important;
padding: 0 10px !important;
}

.bottom_new_margin ul li a:hover{
  color: #fff !important;
}

.leftContainer .menu-list li.leftCurrent{
border-left: 3px solid #009ee0;
color: #009ee0;
}
.leftContainer .menu-list .title:before{
font-size: 20px;
padding-right: 10px;
float: left;
}
.leftContainer .menu-list .leftCurrent{
width: 172px;
background: #fff;
margin: 0 0 0 -1px;
padding: 0 26px 0 23px;
}
.hwsicon-frame-image-footer-earth:before{
content: "\e64d";
}
.hwsicon-frame-image-footer-earth{
font-size: 16px;
padding-right: 4px;
}

.menu-hwsicon-frame-user-caret{
font-size: 13px;
}
.hwsicon-frame-image-caret:before{
content: "\e63d";
}
.console-topbar-fixed-width-div{
display: inline-block;
overflow: hidden;
    margin-bottom: 3px;
}
.console-topbar-fixed-width-username{
display: inline-block;
overflow: hidden;
max-width: 82px;
text-overflow: ellipsis;
white-space: nowrap;
}
.hwsicon-frame-image-userCenter:before{
content: "\e62f";
}
.hwsicon-frame-image-logout:before{
content: "\e634";
}

